body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  margin: auto;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  background: #f29090;
  position: sticky;
  top: 0;
}

.tab-button {
  background-color: #f29090;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
}

.tab-button:hover {
  background-color: #f86a6a;
}
.tab-button.active {
  background: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}
